{% extends "../layouts/default.twig" %}

{% block css %}
<link rel='stylesheet' href="/css/calendar.css" type="text/css" />
<link rel='stylesheet'  href='/plugins/fullcalendar/fullcalendar.css' type='text/css' media='all' />
{% endblock %}

{% block content %}
<div class="fw-page-builder-content">
	<section id="section-5731061350634" class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
			<div class="fw-container">
					<div class="fw-row">
							<div id="column-9240db33c5010f1fbe2a53217046aaa2" class="fw-col-sm-12 tf-sh-9240db33c5010f1fbe2a53217046aaa2">
									<div class="fw-main-row-overlay"></div>
									<div class="fw-col-inner">
											<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
									</div>
							</div>
					</div>

					<div class="fw-row">
							<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-6 fw-col-md-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element fw-col-no-padding" data-animation-type="fadeInLeft" data-animation-delay="300">
									<div class="fw-main-row-overlay"></div>
									<div class="fw-col-inner">
											<div class="fw-heading fw-heading-left  tf-sh-c81d7edeb2cd77f9ab924d7e69751a67">
													<h1 class="fw-special-title">EVENTS <span style="font-weight:900;">CALENDAR</span></h1>


											</div>
									</div>
							</div>
							<div id="column-fea2fc208fb4cfdff7fb6ce0ce063333" class="fw-col-sm-6 fw-col-md-4 tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333  fw-animated-element fw-col-no-padding" data-animation-type="fadeInRight" data-animation-delay="500">
									<div class="fw-main-row-overlay"></div>
									<div class="fw-col-inner">
											<a href="http://fridabeta.mommamatch.com/wp/?page_id=45" target="_self" class="fw-btn tf-sh-cd9d96a0089052d148ac18e330d8a2c1 fw-btn-full fw-btn-lg   fw-btn-2" style="">
													<span>
Subscribe to RSS feed		</span>
											</a>
									</div>
							</div>
					</div>

					<div class="fw-row">
							<div id="column-9240db33c5010f1fbe2a53217046aaa2" class="fw-col-sm-12 tf-sh-9240db33c5010f1fbe2a53217046aaa2">
									<div class="fw-main-row-overlay"></div>
									<div class="fw-col-inner">
											<div class="fw-divider-space  fw-custom-space  clearfix" style="height:80px;"></div>
									</div>
							</div>
					</div>

					<div class="fw-row">
							<div id="column-2d5c70d8c337f5d85fb259c1e1a40894" class="fw-col-sm-12 tf-sh-2d5c70d8c337f5d85fb259c1e1a40894  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="700">
									<div class="fw-main-row-overlay"></div>
									<div class="fw-col-inner">
											<div class=" wrapp_calendar fw-shortcode-calendar-wrapper shortcode-container  tf-sh-7337bddb385bccbad2652a1739d9a852">

													<div id="calendar-big"></div>

													<div class="page-header hidden-header">
															<div class="calendar-navigation btn-group">
																<button id="calendar-prev" class="prev"><i class="fa fa-angle-left"></i></button>
																<h3 id="calendar-month"><!-- Here will be set the title --></h3>
																<button class="next" id="calendar-next"><i class="fa fa-angle-right"></i></button>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>

					<div class="fw-row">
							<div id="column-9240db33c5010f1fbe2a53217046aaa2" class="fw-col-sm-12 tf-sh-9240db33c5010f1fbe2a53217046aaa2">
									<div class="fw-main-row-overlay"></div>
									<div class="fw-col-inner">
											<div class="fw-divider-space  fw-custom-space  clearfix" style="height:160px;"></div>
									</div>
							</div>
					</div>

			</div>
	</section>
</div>
{% endblock %}	

{% block js %}
<script type='text/javascript' src='/js/moment.min.js'></script>
<script type='text/javascript' src='/plugins/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript' src='/js/calendar.js'></script>
{% endblock %}