{% extends '../layouts/default.twig' %}

{% block content %}
<div class="no-header-image"></div>
<section class="fw-main-row sidebar-right" role="main" itemprop="mainEntity" itemscope="itemscope" itemtype="http://schema.org/Blog">
		<div class="fw-container">
				<div class="fw-row">
						<div class="fw-content-area col-xs-12 text-center">
							<h1>Coming Soon</h1>
						</div>
				</div>
		</div>
</section>
{% endblock %}