{% extends "../layouts/default.twig" %}

{% block css %}
<link rel='stylesheet' href="/css/faq.css" type="text/css" />
{% endblock %}

{% block content %}
<div class="fw-page-builder-content">
		<section id="section-57310cfdd0c1d" class=" fw-main-row-custom fw-main-row-top fw-section-no-padding  auto  " style="   ">
				<div class="fw-container">
						<div class="fw-row">
								<div id="column-e7d5aa08adeaf6ca9ba9febc2877a01e" class="fw-col-sm-12 tf-sh-e7d5aa08adeaf6ca9ba9febc2877a01e">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:100px;"></div>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-cd981a19a5cb59eb6da3b5ba2269b163" class="fw-col-sm-8 tf-sh-cd981a19a5cb59eb6da3b5ba2269b163  fw-animated-element" data-animation-type="fadeInLeft" data-animation-delay="300">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-heading fw-heading-left  tf-sh-c81d7edeb2cd77f9ab924d7e69751a67">
														<h1 class="fw-special-title">F.A.Q.</h1>


												</div>
										</div>
								</div>
								<div id="column-fea2fc208fb4cfdff7fb6ce0ce063333" class="fw-col-sm-4 tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333  fw-animated-element" data-animation-type="fadeInRight" data-animation-delay="500">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<a href="/volunteer/register" target="_self" class="fw-btn tf-sh-cd9d96a0089052d148ac18e330d8a2c1 fw-btn-full fw-btn-lg   fw-btn-2" style="">
														<span>Join Us</span>
												</a>
										</div>
								</div>
						</div>

						<div class="fw-row">
								<div id="column-e7d5aa08adeaf6ca9ba9febc2877a01e" class="fw-col-sm-12 tf-sh-e7d5aa08adeaf6ca9ba9febc2877a01e">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:50px;"></div>
										</div>
								</div>
						</div>

						{% for faq in faqs %}
						<div class="fw-row">
								<div id="column-a1142d945e66acc39aa6fde5e1b9a85b" class="fw-col-sm-12 tf-sh-a1142d945e66acc39aa6fde5e1b9a85b  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="700">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-heading fw-heading-left  tf-sh-83fbd9a7f411d911aaccf02e742f5a37">
														<h4 class="fw-special-title">Q: {{faq.question}} </h4>


												</div>
												<div class="fw-text-box tf-sh-b4bc5811ff5ea2ad81f395dc137ee75a ">
														<div class="fw-text-inner">
																{{faq.answer}}
														</div>
												</div>
										</div>
								</div>
								<!--
								<div id="column-ecf5c5561294cc7817950faf37185988" class="fw-col-sm-4 tf-sh-ecf5c5561294cc7817950faf37185988  fw-animated-element" data-animation-type="fadeInUp" data-animation-delay="700">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:75px;"></div>
												<div class="text-right">
														<a href="http://fridabeta.mommamatch.com/wp/?page_id=45" target="_self" class="fw-btn tf-sh-1f1519b1c4dfe275444d40d22ab1ec85  fw-btn-md   fw-btn-1" style="">
																<span>
Contact Us For More Details      		</span>
														</a>
												</div>
										</div>
								</div>
								-->
						</div>
						<div class="fw-row">
								<div id="column-e7d5aa08adeaf6ca9ba9febc2877a01e" class="fw-col-sm-12 tf-sh-e7d5aa08adeaf6ca9ba9febc2877a01e">
										<div class="fw-main-row-overlay"></div>
										<div class="fw-col-inner">
												<div class="fw-divider-space  fw-custom-space  clearfix" style="height:80px;"></div>
										</div>
								</div>
						</div>
						
						{% endfor %}

				</div>
		</section>
</div>
{% endblock %}

{% block js %}

{% endblock %}