.tf-sh-b22d88a4a9a0f535053b955b1436601f .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b22d88a4a9a0f535053b955b1436601f .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 0px 0px 15px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 15px 15px 15px;
	}
}
.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 48px;
	font-size: 52px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
		font-size: 31px;
		line-height: 29px;
	}
}
.tf-sh-b64347b6b97d76f2928def54d7aab4be .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 20px;
	font-size: 18px;
	letter-spacing: -0.5px;
	color: #c1c1c1;
}
.tf-sh-b22d88a4a9a0f535053b955b1436601f .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b22d88a4a9a0f535053b955b1436601f .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-177210be8b6de76dbd86365dbeb70c2e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-177210be8b6de76dbd86365dbeb70c2e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-90aada5eac0668f754f0f9c8e6286c2c .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-90aada5eac0668f754f0f9c8e6286c2c .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-17d893b42ff3216de4fa588d3034a44a .fw-special-title {
	font-family: Lato;
	font-style: italic;
	font-weight: 900;
	line-height: 56px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-17d893b42ff3216de4fa588d3034a44a .fw-special-title {
		font-size: 24px;
		line-height: 45px;
	}
}
.tf-sh-b198886d1a7af812a1d7ea9b231e6386 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
.tf-sh-525cb2445bb6076c8b37d02615f21374 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-525cb2445bb6076c8b37d02615f21374 .fw-col-inner {
		padding: 0px 15px 0px 15px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-525cb2445bb6076c8b37d02615f21374 .fw-col-inner {
		padding: 0px 15px 0px 15px;
	}
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .fw-contact-form-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1b3039;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .wrap-forms .header.title .fw-contact-form-description {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 39px;
	font-size: 15px;
	letter-spacing: -0.5px;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .wrap-forms .form-builder-item > div > label {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: -0.5px;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e::-webkit-input-placeholder {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9aa6ac;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e::-moz-placeholder {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9aa6ac;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e:-moz-placeholder {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9aa6ac;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e:-ms-input-placeholder {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #9aa6ac;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .field-text > input[type="text"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="password"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="search"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="url"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="email"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e textarea,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .select-field,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .select-field .item,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .selectize-dropdown-content div,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .custom-checkbox label,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .custom-radio label,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .selectize-input {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1b3039;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .wrap-forms .form-builder-item p {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .flash-messages-info,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .flash-messages-success {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .flash-messages-error {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .wrap-forms {
	background: none;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="text"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="password"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="search"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="url"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="email"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e textarea,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .selectize-input {
	border: none;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="text"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="password"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="search"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="url"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e input[type="email"],
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e textarea,
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .wrap-forms .selectize-input {
	background: #ffffff
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .fw-btn {
	border-radius: 2px;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .fw-btn {
	background-color: #1e414e
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .fw-btn:hover {
	background-color: #ffffff
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .fw-btn span {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 30px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .fw-btn:hover span {
	color: #1e414e
}
.tf-sh-fa598166380669fb01e4ab7c1b6ba20e .wrap-contact-forms {
	padding: 40px 0px 30px 0px;
}
.tf-sh-b22d88a4a9a0f535053b955b1436601f .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b22d88a4a9a0f535053b955b1436601f .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}

/** fix infowindow dimensions **/
.fw-map-canvas .unyson-shortcode-map-content {
	/*max-width: 420px;*/
	min-width: 274px;
	padding: 5px 4px ;
}
.fw-map-canvas img {
	max-width: none !important;

}
.fw-map-canvas .gm-style-iw{
	/*min-height: 70px;*/
	overflow: hidden;
}
/** .fix infowindow dimensions **/

.fw-map-canvas .infowindow a {
	text-decoration: none;
	font-weight: bold;
	color: #568EC7;
}
.fw-map-canvas .infowindow-thump img {
	width: 100px;
	height: 60px;
	margin-right: 10px;
}
.fw-map-canvas .infowindow-thump {
	float: left;
}
.fw-map-canvas .infowindow-title {
	line-height: 27px;
}
.fw-map-canvas .infowindow-description {
	color: #AFAFAF;
	font-size: 11px;
	font-style: italic;
}
.fw-map-canvas .infowindow-content {
	float: left;
	max-width: 130px;
}