h1, h2, h3, h4 {
  font-family: Lato;
  font-style: normal;
  color: #1e414e; 
}

h1 {
  line-height: 65px;
  font-size: 52px;
  letter-spacing: -1px;
}

h2 {
  line-height: 56px;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1px;
}

h3 {
  font-weight: 900;
  line-height: 38px;
  font-size: 30px;
  letter-spacing: 0px;
  color: #1b3039;
  margin-top: 0;
  text-transform: none;
}

h4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0;
}

.donator {
  margin-top: 45px;
  background: #b5bfc4;
  padding: 30px;
}
  .donator .campaigns {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    margin: 0 0 20px;
  }
    .donator .campaign {
      display: block !important;
      text-align: center;
      font-family: inherit;
      font-weight: inherit;
      text-transform: inherit;
      border-right: 1px solid #eee;
      border-bottom: 1px solid #eee;
      padding: 20px;
      cursor: pointer;
      margin-bottom: 0;
      transition: color 0.5s, background 0.5s;
      user-select: none;
    }
      .donator .campaign h3 {
        transition: color 0.5s;
      }
      .donator .campaign p {
        font-size: 15px; 
        line-height: 24px;
      }
  .donator input[type="radio"] {
    display: none;
  }
    .donator input[type="radio"]:checked + .campaign{
      background: #8224e3;
      color: white;
    }
      .donator input[type="radio"]:checked + .campaign h3 {
        color: white;
      }
  .donator .amount-wrapper {
    position: relative;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
    .donator .currency {
      position: absolute;
      top: 1px;
      left: 0;
      bottom: 1px;
      background: white;
      color: #1b3039;
      padding: 0 10px;
      font-size: 30px;
      line-height: 60px;
    }
    .donator input[name="amount"] {
      font-size: 30px;
      text-align: right;
      width: 100%;
    }
  .donator .stripe-button-el,
  .donator .stripe-button-el span {
    font-family: Lato;
    font-style: normal;
    border: none;
    outline: none;
    background: #8224e3;
    border-radius: 0;
    text-transform: uppercase;
    box-shadow: none;
    font-size: 30px;
    line-height: 60px;
    height: 60px;
    padding: 0 20px;
    color: white;
  }
  .donator #error {
    color: #ff4477;
    margin-bottom: 10px;
    margin-top: -15px;
  }
