.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 0px 15px 0px;
	}
}
.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 48px;
	font-size: 52px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
		font-size: 31px;
		line-height: 29px;
	}
}
.tf-sh-b64347b6b97d76f2928def54d7aab4be .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 20px;
	font-size: 18px;
	letter-spacing: -0.5px;
	color: #c1c1c1;
}
.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	border-width: 2px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	border-radius: 3px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
	border-color: #1b3039
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 30px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
		font-size: 24px;
		line-height: 24px;
	}
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
	color: #1e414e
}
.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-6c385c832b30a4caf0c6df342047c4d2 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-6c385c832b30a4caf0c6df342047c4d2 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-314d4c23a5898e7213e2c82d92004ae0 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-6cd45501e26cf01de694497362714f9d .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-6cd45501e26cf01de694497362714f9d .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-5e180d8300b71493df10155ff2cf579a h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-d7c6762dd8f7dc2900a8e5a0832c17b2 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-d7c6762dd8f7dc2900a8e5a0832c17b2 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-77a0cc54ceaaf56f851ae1a3f2bf6e57 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-27b15b323fd4c15336c88415dea3612f .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-27b15b323fd4c15336c88415dea3612f .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-f7891383f4485fd31ea1bba34cb115ae h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-ead6772d71ecf0977b9e03ce6ba82f65 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-ead6772d71ecf0977b9e03ce6ba82f65 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-9d9e7abba492187be6d14695ff335b68 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-fd745774cf1ba57d04ed48cdfedbdb51 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-fd745774cf1ba57d04ed48cdfedbdb51 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-9d1575ac5aabd684e09e3f6d13943dc3 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-4d4c331e864eef04d97869e555c2d274 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-4d4c331e864eef04d97869e555c2d274 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-97d2f7e812a1311f44a245c1b9d54ae9 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-273a59ff7c8fea86d19c66b2b41f3b64 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-273a59ff7c8fea86d19c66b2b41f3b64 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-b76f91a984988389bafa58f6563118bb h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-56d98c237dc97da7ef358b160b69af8a .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-56d98c237dc97da7ef358b160b69af8a .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-3cfba621a5841cf1014fa0f45e67e441 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-6755812b58188fabb1a941b7736c67b9 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-6755812b58188fabb1a941b7736c67b9 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-c60e76c8bc0f025652beabebafb4cb54 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-71cc65d0e97c56254074ffb5529df234 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-71cc65d0e97c56254074ffb5529df234 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-1a4f2bdf088896333b9c6d959552567d h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-b9cfdf9029f71417a4ca3c60ef7a9ad8 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b9cfdf9029f71417a4ca3c60ef7a9ad8 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-6c96a88c64fe0e2b8808ebf2d26d14c6 h3.fw-imagebox-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 70px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-b0522c441002fc91a79ded6e9b1b753e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}