.tf-sh-1bb388ab8fceab612aae2dcb464bfac8 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-1bb388ab8fceab612aae2dcb464bfac8 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 65px;
	font-size: 52px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
		font-size: 31px;
		line-height: 39px;
	}
}
.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	border-width: 2px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	border-radius: 3px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
	border-color: #1b3039
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 30px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
		font-size: 24px;
		line-height: 24px;
	}
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
	color: #1e414e
}
.tf-sh-613a9c2577b97532384da8022b7978fd .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-613a9c2577b97532384da8022b7978fd .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-23169aef79d706d0a2ba600066ffd974 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
	font-size: 36px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-23169aef79d706d0a2ba600066ffd974 .fw-special-title {
		font-size: 25px;
		line-height: 39px;
	}
}
.tf-sh-89b6ed55a259fa8bc2f20cd779788b0b .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-89b6ed55a259fa8bc2f20cd779788b0b .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-bcb632d925a1d83577fcf7f979e94318 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-d1482cde5c92e870b439c933e69df13f .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-d1482cde5c92e870b439c933e69df13f .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-4d0be33d5b716a2f0cbdecd7ffa23416 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-9dcde66eb09fa5fb8ecc872abad8eec9 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-9dcde66eb09fa5fb8ecc872abad8eec9 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-89adc4a5624fab8e8e6d1ba69e35c833 .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 300;
	line-height: 46px;
	font-size: 36px;
	letter-spacing: 0px;
	color: #49ca9f;
}
@media(max-width:767px) {
	.tf-sh-89adc4a5624fab8e8e6d1ba69e35c833 .fw-text-inner {
		font-size: 25px;
		line-height: 32px;
	}
}
.tf-sh-425185af5ed8f4c0e3634f846d7cd328 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-425185af5ed8f4c0e3634f846d7cd328 .fw-col-inner {
		padding: 0px 0px 20px 0px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-425185af5ed8f4c0e3634f846d7cd328 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-25654cc4121c4145074df42b458e96af .fw-team-name h3 {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 38px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-25654cc4121c4145074df42b458e96af .fw-team-name h3 {
		font-size: 24px;
		line-height: 30px;
	}
}
.tf-sh-25654cc4121c4145074df42b458e96af .fw-team-name span {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-610c817cd4de36af8e62164373a4bb45 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-610c817cd4de36af8e62164373a4bb45 .fw-col-inner {
		padding: 0px 0px 20px 0px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-610c817cd4de36af8e62164373a4bb45 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-8b138e51f67c4761e0ffdc081588ba30 .fw-team-name h3 {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 38px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-8b138e51f67c4761e0ffdc081588ba30 .fw-team-name h3 {
		font-size: 24px;
		line-height: 30px;
	}
}
.tf-sh-8b138e51f67c4761e0ffdc081588ba30 .fw-team-name span {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-47a79cd1871890078812afcf76dee31c .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-47a79cd1871890078812afcf76dee31c .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-fd6a08b7c4b5d2b29fc2b3f0e85ef2e5 .fw-team-name h3 {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 38px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-fd6a08b7c4b5d2b29fc2b3f0e85ef2e5 .fw-team-name h3 {
		font-size: 24px;
		line-height: 30px;
	}
}
.tf-sh-fd6a08b7c4b5d2b29fc2b3f0e85ef2e5 .fw-team-name span {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-df7891f10cb52f3c0ad2a26c1528a814 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-df7891f10cb52f3c0ad2a26c1528a814 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-7be48640b363554c664f956f94fbf82d .fw-team-name h3 {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 38px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-7be48640b363554c664f956f94fbf82d .fw-team-name h3 {
		font-size: 24px;
		line-height: 30px;
	}
}
.tf-sh-7be48640b363554c664f956f94fbf82d .fw-team-name span {
	font-family: Lato;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
	color: #1e414e;
}
.tf-sh-98b0ddf1361d56998e4dcd3c14bc69b8 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-98b0ddf1361d56998e4dcd3c14bc69b8 .fw-col-inner {
		padding: 30px 0px 0px 0px;
	}
}
.tf-sh-4fb2607d9f8e9cc3e5e496b5173cafc1 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750 {
	border-radius: 3px;
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750,
.tf-sh-24ae4302d32f939fb2024b5c9f308750:focus {
	background-color: #8224e3
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750:hover {
	background-color: #1e414e
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750,
.tf-sh-24ae4302d32f939fb2024b5c9f308750:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 46px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-24ae4302d32f939fb2024b5c9f308750 {
		font-size: 24px;
		line-height: 37px;
	}
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750:hover {
	color: #ffffff
}
.tf-sh-1bb388ab8fceab612aae2dcb464bfac8 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-1bb388ab8fceab612aae2dcb464bfac8 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}