.tf-sh-639daa52884e6827e8f06ab6fba98ccf .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-639daa52884e6827e8f06ab6fba98ccf .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 65px;
	font-size: 52px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
		font-size: 31px;
		line-height: 39px;
	}
}
.tf-sh-613a9c2577b97532384da8022b7978fd .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-613a9c2577b97532384da8022b7978fd .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-23169aef79d706d0a2ba600066ffd974 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
	font-size: 36px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-23169aef79d706d0a2ba600066ffd974 .fw-special-title {
		font-size: 25px;
		line-height: 39px;
	}
}
.tf-sh-bcb632d925a1d83577fcf7f979e94318 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-89adc4a5624fab8e8e6d1ba69e35c833 .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 300;
	line-height: 46px;
	font-size: 36px;
	letter-spacing: 0px;
	color: #49ca9f;
}
@media(max-width:767px) {
	.tf-sh-89adc4a5624fab8e8e6d1ba69e35c833 .fw-text-inner {
		font-size: 25px;
		line-height: 32px;
	}
}
.tf-sh-e3dbf0db2069fd7da1e0a041c72e1391 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
	font-size: 36px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-e3dbf0db2069fd7da1e0a041c72e1391 .fw-special-title {
		font-size: 25px;
		line-height: 39px;
	}
}
.tf-sh-4720bdcbaa799745b16905ea83bea94f .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-cbf4395b222a009407bb91fe36809608 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-ead388ac815732b16a72c815894b0da6 .fw-col-inner {
	padding: 20px 65px 0px 65px;
}
.tf-sh-ead388ac815732b16a72c815894b0da6 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-ead388ac815732b16a72c815894b0da6 .fw-col-inner {
		padding: 20px 65px 0px 65px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-ead388ac815732b16a72c815894b0da6 .fw-col-inner {
		padding: 20px 65px 0px 65px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-ead388ac815732b16a72c815894b0da6 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-fc30cf6ed2fd3149ea94383976cb3db3 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-fc30cf6ed2fd3149ea94383976cb3db3 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-6ad4d88cf58aab4956d6c4b34c682369 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 700;
	line-height: 56px;
	font-size: 36px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-6ad4d88cf58aab4956d6c4b34c682369 .fw-special-title {
		font-size: 25px;
		line-height: 39px;
	}
}
.tf-sh-75bdd4f9f269c8a781a30457f90b85ac .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-c031f67a6d05e411ef84764f7283bb5e .fw-col-inner {
	padding-top: 60px;
}
.tf-sh-c031f67a6d05e411ef84764f7283bb5e .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-c031f67a6d05e411ef84764f7283bb5e .fw-col-inner {
		padding: 70px 0px 0px 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-c031f67a6d05e411ef84764f7283bb5e .fw-col-inner {
		padding: 70px 0px 0px 70px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-c031f67a6d05e411ef84764f7283bb5e .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-67e2e7b209be5ea251bd82f2dcc35072 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 30px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #8224e3;
}
@media(max-width:767px) {
	.tf-sh-67e2e7b209be5ea251bd82f2dcc35072 .fw-text-inner {
		font-size: 22px;
		line-height: 27px;
	}
}
.tf-sh-30677bf8c566fe595f9b1523feec9dca .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 900;
	line-height: 52px;
	font-size: 32px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
@media(max-width:767px) {
	.tf-sh-30677bf8c566fe595f9b1523feec9dca .fw-text-inner {
		font-size: 31px;
		line-height: 31px;
	}
}
.tf-sh-7841302acebabb9e81681dae207cc67a .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-7841302acebabb9e81681dae207cc67a .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-da331932e07e1b3f0977e414c6cae702 .fw-text-inner {
	font-family: Lato;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: 0px;
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750 {
	border-radius: 3px;
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750,
.tf-sh-24ae4302d32f939fb2024b5c9f308750:focus {
	background-color: #8224e3
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750:hover {
	background-color: #1e414e
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750,
.tf-sh-24ae4302d32f939fb2024b5c9f308750:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 46px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-24ae4302d32f939fb2024b5c9f308750 {
		font-size: 24px;
		line-height: 37px;
	}
}
.tf-sh-24ae4302d32f939fb2024b5c9f308750:hover {
	color: #ffffff
}
.tf-sh-639daa52884e6827e8f06ab6fba98ccf .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-639daa52884e6827e8f06ab6fba98ccf .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}