.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
	padding: 0px 0px 0px 0px;
  }
}
.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 900;
  line-height: 65px;
  font-size: 52px;
  letter-spacing: -1px;
  color: #1e414e;
}
@media(max-width:767px) {
  .tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
	font-size: 31px;
	line-height: 39px;
  }
}
.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
	padding: 0px 0px 0px 0px;
  }
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
  border-width: 2px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
  border-radius: 3px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
  border-color: #1b3039
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
  background-color: #8224e3;
  border-color: #8224e3
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  line-height: 30px;
  font-size: 30px;
  letter-spacing: -0.5px;
  color: #1e414e;
}
@media(max-width:767px) {
  .tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	font-size: 24px;
	line-height: 24px;
  }
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
  color: #1e414e
}
.tf-sh-44e517bfd8a648a4c43056ca438e7963 .fw-col-inner {
  box-shadow: none;
}
.tf-sh-0ab07b9f3d15ab42165b50539bbadb16 .fw-col-inner {
  padding: 0px 30px 0px 0px;
}
.tf-sh-0ab07b9f3d15ab42165b50539bbadb16 .fw-col-inner {
  box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tf-sh-0ab07b9f3d15ab42165b50539bbadb16 .fw-col-inner {
	padding: 0px 30px 0px 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tf-sh-0ab07b9f3d15ab42165b50539bbadb16 .fw-col-inner {
	padding: 0px 30px 0px 0px;
  }
}
@media only screen and (max-width: 767px) {
  .tf-sh-0ab07b9f3d15ab42165b50539bbadb16 .fw-col-inner {
	padding: 0px 0px 0px 0px;
  }
}
@media(min-width:768px) {
  .tf-sh-354538546225b1892def9de9657fb165 .fw-fade-slider .item {
	height: 467px;
  }
}
.tf-sh-7f03f25854a47c559fa4881dab79fec5 .fw-special-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
@media(max-width:767px) {
  .tf-sh-7f03f25854a47c559fa4881dab79fec5 .fw-special-title {
	font-size: 25px;
	line-height: 39px;
  }
}
.tf-sh-adc73fb695726ce718add1f1a9e27fde .fw-text-inner {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0px;
}
.tf-sh-c306a8e62698a9755bcdb299d66a32e7 .fw-special-title {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  font-size: 36px;
  letter-spacing: -0.5px;
}
@media(max-width:767px) {
  .tf-sh-c306a8e62698a9755bcdb299d66a32e7 .fw-special-title {
	font-size: 25px;
	line-height: 39px;
  }
}
.tf-sh-e256bbca203bc0dcb30c61fc8ddbf957 .fw-text-inner {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0px;
}
.tf-sh-4260bfbeef4143275dc943d5af877635.fw-divider-line {
  border-bottom-width: 1px;
  margin-top: -0.5px;
}
.tf-sh-4260bfbeef4143275dc943d5af877635.fw-divider-special .fw-divider-holder {
  border-top-width: 1px;
  margin-top: -0.5px;
}
.tf-sh-ed4219f2ad920f3e507b6bc2e32ad166 .fw-col-inner {
  padding: 15px 15px 15px 15px;
}
.tf-sh-ed4219f2ad920f3e507b6bc2e32ad166 {
  background-color: #1b3039;
}
.tf-sh-ed4219f2ad920f3e507b6bc2e32ad166 {
  box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .tf-sh-ed4219f2ad920f3e507b6bc2e32ad166 .fw-col-inner {
	padding: 0px 15px 15px 15px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .tf-sh-ed4219f2ad920f3e507b6bc2e32ad166 .fw-col-inner {
	padding: 15px 15px 15px 15px;
  }
}
@media only screen and (max-width: 767px) {
  .tf-sh-ed4219f2ad920f3e507b6bc2e32ad166 .fw-col-inner {
	padding: 0px 0px 0px 0px;
  }
}
.tf-sh-ddf3d04b5d962af7ab0d1d7a9a35b19c .fw-text-inner {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0px;
  color: #ffffff;
}