.tf-sh-86a386a67c05c08722e5455cc84f9999 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-86a386a67c05c08722e5455cc84f9999 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 0px 0px 15px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-cd981a19a5cb59eb6da3b5ba2269b163 .fw-col-inner {
		padding: 0px 15px 15px 15px;
	}
}
.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
	line-height: 48px;
	font-size: 52px;
	letter-spacing: -1px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-c81d7edeb2cd77f9ab924d7e69751a67 .fw-special-title {
		font-size: 31px;
		line-height: 29px;
	}
}
.tf-sh-b64347b6b97d76f2928def54d7aab4be .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 20px;
	font-size: 18px;
	letter-spacing: -0.5px;
	color: #c1c1c1;
}
.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
	padding: 0px 20px 0px 0px;
}
.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-fea2fc208fb4cfdff7fb6ce0ce063333 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	border-width: 2px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
	border-radius: 3px;
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
	border-color: #1b3039
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1,
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 30px;
	font-size: 30px;
	letter-spacing: -0.5px;
	color: #1e414e;
}
@media(max-width:767px) {
	.tf-sh-cd9d96a0089052d148ac18e330d8a2c1 {
		font-size: 24px;
		line-height: 24px;
	}
}
.tf-sh-cd9d96a0089052d148ac18e330d8a2c1:hover {
	color: #1e414e
}
.tf-sh-0b421b8a55a495382c55a15850b1b1cb .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-0b421b8a55a495382c55a15850b1b1cb .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-b68b54db8e2e9d097952a9a8889e22de .fw-col-inner {
	padding: 25px 36px 0px 36px;
}
.tf-sh-b68b54db8e2e9d097952a9a8889e22de {
	background-color: #1b3039;
}
.tf-sh-b68b54db8e2e9d097952a9a8889e22de {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-b68b54db8e2e9d097952a9a8889e22de .fw-col-inner {
		padding: 15px 36px 0px 36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-b68b54db8e2e9d097952a9a8889e22de .fw-col-inner {
		padding: 25px 36px 0px 36px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-b68b54db8e2e9d097952a9a8889e22de .fw-col-inner {
		padding: 30px 0px 30px 0px;
	}
}
.tf-sh-7834a6648e1080ce59e76d47b0089b3b .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
@media(max-width:767px) {
	.tf-sh-7834a6648e1080ce59e76d47b0089b3b .fw-special-title {
		font-size: 22px;
		line-height: 29px;
	}
}
.tf-sh-3b74bc71ebf8f23c2fe8a9b080825011.fw-divider-line {
	border-bottom-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-3b74bc71ebf8f23c2fe8a9b080825011.fw-divider-special .fw-divider-holder {
	border-top-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-0834636544770d1f4cfa471d363bb8ac .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #b5bfc4;
}
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4 {
	border-width: 2px;
}
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4 {
	border-radius: 2px;
}
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4,
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4:focus {
	border-color: #49ca9f
}
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4,
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
.tf-sh-e063bb1d6c761ba79b55f6fe533439f4:hover {
	color: #1b3039
}
.tf-sh-0d9d29e10bfad00421294c0dcefce86c .fw-col-inner {
	box-shadow: none;
}
.tf-sh-5bb6aca6ba401365f9d3597e91a1d6dc .fw-col-inner {
	padding: 42px 36px 51px 36px;
}
.tf-sh-5bb6aca6ba401365f9d3597e91a1d6dc {
	background-color: #1b3039;
}
.tf-sh-5bb6aca6ba401365f9d3597e91a1d6dc {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-5bb6aca6ba401365f9d3597e91a1d6dc .fw-col-inner {
		padding: 15px 36px 51px 36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-5bb6aca6ba401365f9d3597e91a1d6dc .fw-col-inner {
		padding: 42px 36px 51px 36px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-5bb6aca6ba401365f9d3597e91a1d6dc .fw-col-inner {
		padding: 30px 0px 30px 0px;
	}
}
.tf-sh-bf733b893b9558ddfbf831d97de71cee .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
@media(max-width:767px) {
	.tf-sh-bf733b893b9558ddfbf831d97de71cee .fw-special-title {
		font-size: 22px;
		line-height: 29px;
	}
}
.tf-sh-72e67780b8360f96038042330d09a93b.fw-divider-line {
	border-bottom-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-72e67780b8360f96038042330d09a93b.fw-divider-special .fw-divider-holder {
	border-top-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-6e63e42a842442e362200a20fabcdc3f .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #b5bfc4;
}
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3 {
	border-width: 2px;
}
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3 {
	border-radius: 2px;
}
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3,
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3:focus {
	border-color: #49ca9f
}
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3,
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
.tf-sh-6bd7a513affe3e29178c7b7d0b1a52f3:hover {
	color: #1b3039
}
.tf-sh-62a1e20a443f9af069ebd98942f7014b .fw-col-inner {
	box-shadow: none;
}
.tf-sh-d93e2519f5a443c63257e300a57935a1 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-d93e2519f5a443c63257e300a57935a1 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-0991da90c24b2e55182719f0ecc45b4a .fw-col-inner {
	padding: 42px 36px 0px 36px;
}
.tf-sh-0991da90c24b2e55182719f0ecc45b4a {
	background-color: #1b3039;
}
.tf-sh-0991da90c24b2e55182719f0ecc45b4a {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-0991da90c24b2e55182719f0ecc45b4a .fw-col-inner {
		padding: 30px 36px 0px 36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-0991da90c24b2e55182719f0ecc45b4a .fw-col-inner {
		padding: 42px 36px 0px 36px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-0991da90c24b2e55182719f0ecc45b4a .fw-col-inner {
		padding: 30px 0px 30px 0px;
	}
}
.tf-sh-39287a17ec9a85f56b16ea767c2b409c .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
@media(max-width:767px) {
	.tf-sh-39287a17ec9a85f56b16ea767c2b409c .fw-special-title {
		font-size: 22px;
		line-height: 29px;
	}
}
.tf-sh-4b21350a717f95b8e404d4105b783e24.fw-divider-line {
	border-bottom-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-4b21350a717f95b8e404d4105b783e24.fw-divider-special .fw-divider-holder {
	border-top-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-e455129573ac4fc233640d85cbf80029 .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #b5bfc4;
}
.tf-sh-7f02d921ce78a84601e7d63cd6f58886 {
	border-width: 2px;
}
.tf-sh-7f02d921ce78a84601e7d63cd6f58886 {
	border-radius: 2px;
}
.tf-sh-7f02d921ce78a84601e7d63cd6f58886,
.tf-sh-7f02d921ce78a84601e7d63cd6f58886:focus {
	border-color: #49ca9f
}
.tf-sh-7f02d921ce78a84601e7d63cd6f58886:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-7f02d921ce78a84601e7d63cd6f58886,
.tf-sh-7f02d921ce78a84601e7d63cd6f58886:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
.tf-sh-7f02d921ce78a84601e7d63cd6f58886:hover {
	color: #1b3039
}
.tf-sh-076b276cecd5cfa7e9f0971e81df4c60 .fw-col-inner {
	box-shadow: none;
}
.tf-sh-2c947d162a12e3bf6dde74fe248c4cfe .fw-col-inner {
	padding: 25px 36px 0px 36px;
}
.tf-sh-2c947d162a12e3bf6dde74fe248c4cfe {
	background-color: #1b3039;
}
.tf-sh-2c947d162a12e3bf6dde74fe248c4cfe {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-2c947d162a12e3bf6dde74fe248c4cfe .fw-col-inner {
		padding: 15px 36px 0px 36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-2c947d162a12e3bf6dde74fe248c4cfe .fw-col-inner {
		padding: 25px 36px 0px 36px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-2c947d162a12e3bf6dde74fe248c4cfe .fw-col-inner {
		padding: 30px 0px 30px 0px;
	}
}
.tf-sh-87dc6dbca322f868948dce2c02662dc7 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
@media(max-width:767px) {
	.tf-sh-87dc6dbca322f868948dce2c02662dc7 .fw-special-title {
		font-size: 22px;
		line-height: 29px;
	}
}
.tf-sh-053c6afad54ce464ef6a71cea08b426b.fw-divider-line {
	border-bottom-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-053c6afad54ce464ef6a71cea08b426b.fw-divider-special .fw-divider-holder {
	border-top-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-0f40efae0dc5aa6354ee3c6e1232cea0 .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #b5bfc4;
}
.tf-sh-9411300f50819a27226689ad98bab86f {
	border-width: 2px;
}
.tf-sh-9411300f50819a27226689ad98bab86f {
	border-radius: 2px;
}
.tf-sh-9411300f50819a27226689ad98bab86f,
.tf-sh-9411300f50819a27226689ad98bab86f:focus {
	border-color: #49ca9f
}
.tf-sh-9411300f50819a27226689ad98bab86f:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-9411300f50819a27226689ad98bab86f,
.tf-sh-9411300f50819a27226689ad98bab86f:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
.tf-sh-9411300f50819a27226689ad98bab86f:hover {
	color: #1b3039
}
.tf-sh-07002b4ac883c0083bf0666ca9ca8440 .fw-col-inner {
	box-shadow: none;
}
.tf-sh-c2a8bf4447dde112964a2f15b4cf6276 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-c2a8bf4447dde112964a2f15b4cf6276 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}
.tf-sh-270baef62fc6f0904de9741b986a4bf4 .fw-col-inner {
	padding: 25px 36px 0px 36px;
}
.tf-sh-270baef62fc6f0904de9741b986a4bf4 {
	background-color: #1b3039;
}
.tf-sh-270baef62fc6f0904de9741b986a4bf4 {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-270baef62fc6f0904de9741b986a4bf4 .fw-col-inner {
		padding: 15px 36px 0px 36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-270baef62fc6f0904de9741b986a4bf4 .fw-col-inner {
		padding: 25px 36px 0px 36px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-270baef62fc6f0904de9741b986a4bf4 .fw-col-inner {
		padding: 30px 0px 30px 0px;
	}
}
.tf-sh-311362c36af483cc42a6343422afcb28 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
@media(max-width:767px) {
	.tf-sh-311362c36af483cc42a6343422afcb28 .fw-special-title {
		font-size: 22px;
		line-height: 29px;
	}
}
.tf-sh-69ab89bb3a1820f08ce5c932141e093d.fw-divider-line {
	border-bottom-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-69ab89bb3a1820f08ce5c932141e093d.fw-divider-special .fw-divider-holder {
	border-top-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-e253ba29bb42c9ee91cd951547af0993 .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #b5bfc4;
}
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab {
	border-width: 2px;
}
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab {
	border-radius: 2px;
}
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab,
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab:focus {
	border-color: #49ca9f
}
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab,
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
.tf-sh-8d7947146fcc7d6996a2a7e73229e7ab:hover {
	color: #1b3039
}
.tf-sh-b677df1ce29aa18598611ab18b70e93d .fw-col-inner {
	box-shadow: none;
}
.tf-sh-56d6bfbc6479568d59ae32e27eac5e1a .fw-col-inner {
	padding: 42px 36px 0px 36px;
}
.tf-sh-56d6bfbc6479568d59ae32e27eac5e1a {
	background-color: #1b3039;
}
.tf-sh-56d6bfbc6479568d59ae32e27eac5e1a {
	box-shadow: none;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tf-sh-56d6bfbc6479568d59ae32e27eac5e1a .fw-col-inner {
		padding: 15px 36px 0px 36px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.tf-sh-56d6bfbc6479568d59ae32e27eac5e1a .fw-col-inner {
		padding: 42px 36px 0px 36px;
	}
}
@media only screen and (max-width: 767px) {
	.tf-sh-56d6bfbc6479568d59ae32e27eac5e1a .fw-col-inner {
		padding: 30px 0px 30px 0px;
	}
}
.tf-sh-e51ee880f111f16c459897609b525347 .fw-special-title {
	font-family: Lato;
	font-style: normal;
	font-weight: 900;
	line-height: 32px;
	font-size: 24px;
	letter-spacing: -0.5px;
	color: #ffffff;
}
@media(max-width:767px) {
	.tf-sh-e51ee880f111f16c459897609b525347 .fw-special-title {
		font-size: 22px;
		line-height: 29px;
	}
}
.tf-sh-983f83ff8752db734d2919121194bda4.fw-divider-line {
	border-bottom-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-983f83ff8752db734d2919121194bda4.fw-divider-special .fw-divider-holder {
	border-top-width: 1px;
	margin-top: -0.5px;
}
.tf-sh-e94b7c8230ecc7ea39b83c12e28c9b0b .fw-text-inner {
	font-family: Lato;
	font-style: italic;
	font-weight: 400;
	line-height: 24px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #b5bfc4;
}
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a {
	border-width: 2px;
}
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a {
	border-radius: 2px;
}
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a,
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a:focus {
	border-color: #49ca9f
}
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a:hover {
	background-color: #8224e3;
	border-color: #8224e3
}
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a,
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a:focus {
	font-family: Lato;
	font-style: italic;
	font-weight: 700;
	line-height: 31px;
	font-size: 15px;
	letter-spacing: -0.5px;
	color: #49ca9f;
}
.tf-sh-767f09e79a9fb1e2e93e75b2f20e680a:hover {
	color: #1b3039
}
.tf-sh-0bc39221eeeed1c325cc20d58dc40560 .fw-col-inner {
	box-shadow: none;
}
.tf-sh-42c7cdc725a34d05717e6c3882274353 .fw-col-inner {
	box-shadow: none;
}
@media only screen and (max-width: 767px) {
	.tf-sh-42c7cdc725a34d05717e6c3882274353 .fw-col-inner {
		padding: 0px 0px 0px 0px;
	}
}